@model IEnumerable<Group_Project.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<style>
    *,*::after, *::before {
        box-sizing: border-box;
    }
    .container {
        width: 100%;
    }
    .carousel {
        display: flex;
        overflow: auto;
        width: 100%;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
    }
    .carousel a {
        padding: .25rem;
    }
</style>
<body>
    <div class="container">
        <div class="carousel" id="movieCarousel">
            @foreach (var item in Model) {
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img src="@Html.DisplayFor(modelItem => item.ImageSrc)" alt="Movie Image" width="400" height="600" />
                </a>
            }
        </div>
    </div>
</body>

<!-- Script to allow for scrolling to movie carousel -->
<script>
        document.addEventListener("DOMContentLoaded", function () {
            var carousel = document.getElementById("movieCarousel");

            // Adjust the scrollLeft property based on the scroll wheel movement
            carousel.addEventListener("wheel", function (e) {
                e.preventDefault();
                carousel.scrollLeft += e.deltaY;
            });
        });
</script>


<p>
    <a asp-action="RemoveAllRecords">Wipe Database</a> |
</p>
