@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Unlimited movies, TV shows, and more </h1>
    <p>Watch anywhere. Cancel anytime.</p>
    <p>Ready to watch? <a class="nav-link text-blue" asp-area="Identity" asp-page="/Account/Register">Click here to get started.</a></p>
</div>
