@model IEnumerable<Group_Project.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Shows</h1>
<link rel="stylesheet" href="~/css/content-grid.css">

<p>
    <a asp-action="RemoveAllRecords">Wipe Database</a> |
</p>
