@model IEnumerable<Group_Project.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Shows</h1>
<link rel="stylesheet" href="~/css/content-grid.css">

<body>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="content">
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img src="@Html.DisplayFor(modelItem => item.ImageSrc)" alt="Show Image" width="300" height="400" />
                    <div class="overlay">
                        <div class="text">@Html.DisplayFor(modelItem => item.Title)</div>
                    </div>
                </a>
            </div>
        }
    </div>

</body>