@model IEnumerable<Group_Project.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Shows</h1>
<style>
    *,*::after, *::before {
        box-sizing: border-box;
    }
    .container {
        width: 100%;
    }
    .carousel {
        display: flex;
        overflow: auto;
        width: 100%;
    }
    .carousel a {
        padding: .25rem;
    }
</style>



<p>
    <a asp-action="RemoveAllRecords">Wipe Database</a> |
</p>

<body>
    <div class="container">
        <div class="carousel">
            @foreach (var item in Model) {
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img src="@Html.DisplayFor(modelItem => item.ImageSrc)" alt="Show Image" width="300" height="400" />
                </a>
            }
        </div>
    </div>

</body>

